
body {
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    overflow: auto; 
max-width: 10000px;
max-height: 10000px;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    background: rgb(255, 3, 3);
    z-index: 100; 
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}
.navbar a:hover {
    color: #00ff00;
    transform: scale(1.1);
}


.strip {
    position: absolute;
    width: 2px;
    height: 100vh;
    animation: move 1s linear infinite;
    z-index: 0; 
}
@keyframes move {
    0% {
        top: -10%;
    }
    100% {
        top: 110%;
    }
}


.content-container {
    position: relative; 
    width: 80%; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 1;
   
}
.content-container.active {
    display: block;
}


.pp {
    background-color: #333;
    color: #00ff00;
    padding: 10px;
    border-radius: 5px;
}
.img-custom {
    width: 100%; 
    height: auto; 
    border: 2px solid #ff6600;
    border-radius: 5px;
}
.custom-heading {
    color: #ff3333;
    font-size: 1.5em;
}
.pp{
    background-color: red;

}
.qq{
    background-color: white;
    border: 2px solid red;
 
    color: aqua;
}
.hr1 {
    font-size: 100px;
    font-weight: bold;
    margin-top: 100px;
    animation: color-change 3s infinite;
    
    
}
.imr1{
    width: 1200px;
    height: 650px;
    margin-top: 500px;
    position: absolute;
    margin-left: -600px;

}

@keyframes color-change {
    0% { color: rebeccapurple; }
    60% { color: thistle; }
    100%{color: gold;}
}
.pr1{
    position: absolute;
    margin-top: -50px;
    border: 1px solid gray;
    border-radius: 2%;
    width: 800px;
    font-size: 40px;
    height: 370px;
    margin-left: -100px;
    background-color: black;
    animation: color-changee 3s infinite;
}
@keyframes color-changee {
    30% { color: red; }
    60% { color: green; }
    100%{color: aqua;}
}
.vidos1{
    border: 2px solid white;
    margin-left: 200px;
    width: 500px;
    height: 550px;
    margin-top: -150px;
    position: absolute;
    
}
.pr2{
    position: absolute;
    margin-top: -100px;
    border: 1px solid gray;
    border-radius: 2%;
    width: 800px;
    font-size: 13px;
    height: 330px;
    margin-left: -100px;
    background-color: red;
    animation: color-changeew 1s infinite;
}
@keyframes color-changeew {
    10% { color: black; }
    20% { color: green; }
    30%{color: aqua;}
    40% { color: blue; }
    50% { color: gold; }
    60%{color: gray;}
    70% { color: yellow; }
    80% { color: rosybrown; }
    90%{color: wheat;}
    100%{color: rebeccapurple;}
}
.hr2{
    font-size: 150px;
    font-weight: bold;
    margin-top: 100px;
    animation: color-changqe 1s infinite;
}
@keyframes color-changqe {
    0% { color: teal; }
    60% { color: indigo; }
    100%{color: skyblue;} 
}
.vr2{
    width: 500px;
    height: 600px;
    margin-left: 200px;
    border: 10px solid gold;
    border-radius: 5%;
    position: absolute;
    margin-top: -100px;
}
.imr2{
    position: absolute;
    width: 600px;
    margin-top: 600px;
    margin-left: 150px;
}
.hr3{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
 border: 2px solid indigo;
 border-radius: 5%;
 margin-top: 300px;
 margin-left: -100px;
 animation: color-chaneg 0.5s infinite;
 animation: color-chanag 3s infinite;
 width: 800px;
 
 font-size: 13px;
}
@keyframes color-chanag {
    0% { background-color: saddlebrown; }
    60% { background-color: grey; }
    100%{background-color: rosybrown;} 
    0% { color: red; }
    60% {color: blue; }
    99%{color: black;} 
}
.vr2{
    width: 500px;
    height: 400px;
    margin-left: 220px;
    border: 10px solid black;
    border-radius: 5%;
    position: absolute;
    margin-top: -50px;
    animation: kaneki 1s infinite;
    position: absolute;
    
}
@keyframes kaneki {
    0%{background-color: #00ff00;}
    50%{background-color: aqua;}
      100%{background-color: #ff6600;}
}
.hr4 {
    font-size: 100px;
    font-weight: bold;
    margin-top: 100px;
    animation: color-change 3s infinite;
    
    
}
.pr3{
    position: absolute;
    margin-top: -50px;
    border: 1px solid gray;
    border-radius: 5%;
    width: 900px;
    font-size: 16.9px;
    height: 450px;
    margin-left: -100px;
    background-color: gold;
    animation: ebalan 1s infinite;
}
@keyframes ebalan {
    0%{color: #333;}
    50%{color: burlywood;}
    100%{color: slateblue;}

}
.li1{
    list-style: none;
    color: rebeccapurple;
    font-size: 200px;
    position: absolute;
    animation: kuku 1s infinite;
    position: absolute;
    margin-top: 400px;
    margin-left: 500px;

}
.imr3{
    position: absolute;
    width: 700px;
    border: 20px solid black;
    border-radius: 15%;
    margin-top: 640px;
    margin-left: -400px;

}
.pr4{
    border: 5px solid black;
    width: 700px;
    height: 400px;
    font-size: 15px;
    background-color: saddlebrown;
    border-radius: 5%;
   position: absolute;
   animation: autist 2s infinite;
   margin-left: -100px;
   margin-top: 10px;
}
@keyframes autist {
    0%{color: aqua;}
  40%{color: #ff6600;}
  100%{color: lightcoral;}
}
.li2{
    list-style: none;
    color: green;
    font-size: 200px;
    position: absolute;
    animation: kukui 1s infinite;
    position: absolute;
    margin-top: 200px;
    margin-left: 640px;
}
@keyframes kuku {
    0%{color: green;}
  40%{color: red;}
  100%{color: black;}
}
@keyframes kukui {
    0%{color: gold;}
  40%{color: slategrey;}
  100%{color: khaki;}
}
.imr4{
    border: 20px solid black;
    border-radius: 10%;
    position: absolute;
    margin-top: 500px;
    margin-left: -300px;
 animation: daunn 1s infinite;
}
@keyframes daunn{
    0%{border: 10px solid #ff6600;}
    50%{border: 10px solid darkred;}
    100%{border: 10px solid darkviolet;}
}
.hr5{
    font-size: 100px;
    font-weight: bold;
    margin-top: 100px;
    animation: color-changqe 1s infinite;
}
.pr5{
    position: absolute;
    margin-top: -50px;
    border: 1px solid gray;
    border-radius: 5%;
    width: 800px;
    font-size: 23px;
    height: 350px;
    margin-left: -100px;
    background-color: gold;
    animation: ebalan 1s infinite;
}
.pr6{
    border: 5px solid black;
    width: 700px;
    height: 400px;
    font-size: 18.1px;
    background-color: black;
    border-radius: 5%;
   position: absolute;
   animation: autist 2s infinite;
   margin-left: -100px;
   margin-top: -50px;
}
.pr7{
    border: 5px solid black;
    width: 500px;
    height: 250px;
    font-size: 20.1px;
    background-color: black;
    border-radius: 5%;
   position: absolute;
   animation: autist 2s infinite;
   margin-left: -100px;
   margin-top: 10px;
}
.hr8{
    border: 10px solid black;
    border-radius: 10%;
    color: gold;
    background-color: black;
    animation: otsi 1s infinite;
    position: absolute;
    margin-top: 500px;
}
@keyframes otsi{
    0%{color: springgreen;}
    50%{color: aquamarine;}
    100%{color: red;}
}
.vr3{
    width: 700px;
    height: 500px;
    margin-left: -500px;
    background-color: black;
    border: 10px solid red;
    border-radius: 12%;
    position: absolute;
    margin-top: 450px;
    animation: osiraq 5s infinite;
    position: absolute;
}
@keyframes osiraq{
    0%{width: 750px;}
    40%{width: 900px;}
    100%{width: 1100px; height: 650px;}
    0%{border: 20px solid black; border-radius: 17%;}
    50%{border: 30px solid red; border-radius: 20%;}
    100%{border: 25px solid blue; border-radius: 10%;}
}
.vr4{
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
    width: 600px;
    border: 5px solid gray;
    border-radius: 5%;
    background-color: greenyellow;
}
.li3{
    list-style: none;
    color: green;
    font-size: 300px;
    position: absolute;
    animation: kukui 1s infinite;
    position: absolute;
    margin-top: 400px;
    margin-left: -448px;
    width: 2000px;
}
.hr9{
    border: 4px solid whitesmoke;
    border-radius: 5%;
    background-color: gray;
    width: 500px;
    height: 400px;
    margin-top: 400px;
    position: absolute;
    margin-left: -130px;
    font-size: 65px;
    color: deeppink;
    animation: kloyn 0.5s infinite;
}
@keyframes kloyn{
    0%{background-color: darkgreen;}
    50%{background-color: royalblue;}
    100%{background-color: black;}
    0%{border: 15px solid gray; border-radius: 15%;}
    40%{border: 13px solid greenyellow; border-radius: 12%;}
    100%{border: 10px solid red; border-radius: 8%;}
}
.li4{
    list-style: none;
    color: black;
    font-size: 500px;
    position: absolute;
    animation: kukui 1s infinite;
    position: absolute;
    margin-top: 450px;
    margin-left: -40px;
}
.vr5{
    position: absolute;
    width: 520px;
    margin-top: 400px;
    border: 20px solid gray;
border-radius: 10%;
margin-left: 0px;
animation: yaeblan 0.5s infinite;
}
@keyframes yaeblan{
    0%{border: 20px solid darkgreen; }
    50%{border: 20px solid gray;}
    100%{border: 20px solid #000;}
}
#content {
    display: none;
}
